OPENCLAW_GATEWAY_URL=http://localhost:18789
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_AGENT_ID=main
TTS_PROVIDER=silero
TTS_FALLBACK_PROVIDER=
SILERO_MODEL_SOURCE=snakers4/silero-models
SILERO_LANGUAGE=ru
SILERO_MODEL_ID=v4_ru
SILERO_SPEAKER=xenia
SILERO_SAMPLE_RATE=48000
SILERO_CACHE_DIR=.cache/torch
SPEECH_MAX_CHUNK_CHARS=220
WAKE_WORD=jarvis
WAKE_SENSITIVITY=0.6
SILENCE_SECONDS=1.5
HISTORY_LIMIT=20
VOICE_SESSION_MODE=single
SESSION_IDLE_TIMEOUT_SEC=15
VOICE_LOCK_FILE=voice_bridge.lock
